<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Prueba 02</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }

            .tabla {     margin-left: 25%; }
        </style>
    </head>
    <body>
        <h1>Detalle de empleado</h1>

        <table class="tabla">
	        <tr align='left'><td><b>Nombre</b></td> <td align='left'><?=$employee['name']?></td></tr>
	        <tr align='left'><td><b>Email</b></td> <td align='left'><?=$employee['email']?></td></tr>
	        <tr align='left'><td><b>Telefono</b></td> <td align='left'><?=$employee['phone']?></td></tr>
	        <tr align='left'><td><b>Direccion</b></td> <td align='left'><?=$employee['address']?></td></tr>
	        <tr align='left'><td><b>Posicion</b></td> <td align='left'><?=$employee['position']?></td></tr>
	        <tr align='left'><td><b>Salario</b></td> <td align='left'><?=$employee['salary']?></td></tr>
	        <tr align='left'><td><b>Habilidades</b></td> 
	        	<td align='left'><ul><?php 
	        	foreach ($employee['skills'] as $s) {
	        		echo "<li>".$s['skill']."</li>";
	        	}
	        	?></ul></td> 
	        </tr>
        </table>

        <a href="../buscar">Regresar</a>
    </body>
</html>
