<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Prueba 02</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }

            .tabla {     margin-left: 25%; }
        </style>
    </head>
    <body>
        <h1>Listado</h1>
        <div>
            <form action='buscar' method='GET'>
                Buscar:<input type='text' name='email' placeholder='Ingrese un correo'/>
                <input type='submit' value='Buscar' />
            </form>
        </div>
        <div class="tabla">
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Posicion</th>
                    <th>Salario</th>
                    <th>Detalle</th>
                </tr>
            <?php foreach ($employees as $e) { ?>
                 <tr>
                    <td align='left'><?=$e['name']?></td>
                    <td><?=$e['email']?></td>
                    <td align='left'><?=$e['position']?></td>
                    <td align='left'><?=$e['salary']?></td>
                    <td><a href='detalle/<?=$e['id']?>'>Ver más</a></td>
                 </tr>
            <?php } ?>
            </table>
         </div>
    </body>
</html>
